@import url('https://fonts.googleapis.com/css2?family= Krona +One & family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #ffffff;
    --cor-tercearia: #1e90ff;
    --cor-hover: #808080;

    --font-primaria: 'Krona One', sans-serif;
    --font-secundaria: 'Montserrat', sans-serif
}

* {
    margin:0;
    padding:0;
}

body {
    box-sizing: content-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--font-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-tercearia);
    text-decoration: none;
}



.Titulo-destaque {
    color: var(--cor-tercearia);
}

.Apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:82px;
}

.Apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction:column;
    gap: 40px;
}

.Apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--font-primaria);
}

.Apresentacao__conteudo__titulo__paragrafo {
    font-size: 2.25rem;
    font-family: var(--font-secundaria);
}

.Apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.Apresentacao__link__subtitulo {
    font-family: var(--font-primaria);
    font-weight: 400%;
    font-size: 1.5rem;
}

.Apresentacao__links__apresentacao {
    border: 2px solid var(--cor-tercearia);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 100;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--font-secundaria);
}

.Apresentacao__links__link:hover {
    background-color: var(--cor-hover);
}

.imagem_link {
    max-width:100px;
    max-height:70px;
    width: auto;
    height:auto;
    display:flex;
    margin: auto;
}

.Apresentacao__imagem {
    width: 50%;


}

.roda_pe {
    background-color: var(--cor-tercearia);
    color: var(--cor-primaria);
    text-align: center;
    padding: 24px;
    font-family: var(--font-secundaria);
    font-size: 1.5rem;
    font-weight: 400px;
}

@media (max-width: 1200px) {
    .cabecalho{
        padding: 10%;
    }

    .cabecalho__menu{
        justify-content: center;
    }

    .Apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .Apresentacao__conteudo{
        width: auto;

    }

}



